# Dependency directories
node_modules/

# Local env files
.env
.env.server
.env.local
.env.server.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Netlify build output and settings
.netlify/
site/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
